* text=auto eol=lf

*.bak binary
*.db binary
*.docx binary
*.exe binary
*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.lance/** binary
*.otf binary
*.pdf binary
*.png binary
*.sqlite binary
*.sqlite3 binary
*.ttf binary
*.webp binary
*.woff binary
*.woff2 binary
*.xlsx binary

output/** -diff
